/*
1 creazione del testo e formattazione di 1 parola da far ruotare
2 inserimento delle altre 2 parole
3 sovrapporre le 3 parole
4 mostrare 1 parola e nascondere le altre 2
5 animare 1 parola (fadein - fadeout con spostamento)
6 animare le altre 2 parole
7 ritardare progressivamente l'animazione delle altre 2 parole 
*/

body {
  font-family: "Bree Serif", serif;
  font-weight: 400;
  font-style: normal;
}

p {
  font-size: 4em;
}

#testoAlternato {
  overflow: hidden;
  white-space: nowrap;
  width: 70%;
  height: 30vh;
}

.rotatingWord {
  display: inline-block;
  text-transform: uppercase;
  color: darkred;
}

#second {
  transform: translateX(-517px);
}

#third {
  transform: translateX(-1033px);
}

@keyframes firstWord {
  0% {
    opacity: 0%;
  }
  15% {
    opacity: 100%;
  }
  32% {
    opacity: 0%;
  }
  100% {
    opacity: 0%;
  }
}

@keyframes secondWord {
  0% {
    opacity: 0%;
  }
  33% {
    opacity: 0%;
  }
  48% {
    opacity: 100%;
  }
  65% {
    opacity: 0%;
  }
  100% {
    opacity: 0%;
  }
}

@keyframes thirdWord {
  0% {
    opacity: 0%;
  }
  66% {
    opacity: 0%;
  }
  81% {
    opacity: 100%;
  }
  100% {
    opacity: 0%;
  }
}

#first {
  animation: firstWord 10s linear 0s infinite;
}

#second {
  animation: secondWord 10s linear 0s infinite;
}

#third {
  animation: thirdWord 10s linear 0s infinite;
}
